doctype html
html
  head
    meta(charset="UTF-8")
    title Authorize Google
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    div.container
      div.row
        div.col-md-6.jumbotron
          h1 Authorize with Google
            br
            small Please click to sign in
          a(href='/auth/google')
            button.btn.btn-large.btn-primary Sign in